{% extends 'base.html' %}

{% block title %}Home - Clean Blog{% endblock %}

{% block header_title %}Welcome to Clean Blog{% endblock %}
{% block header_subtitle %}A Blog Theme by Start Bootstrap{% endblock %}
{% block header_class %}site-heading{% endblock %}
{% block header_image_url %}{{ image_url }}{% endblock %}

{% block content %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {% for post in posts %}
                    {% if post.id == 1 %}
                        <div class="post-preview">
                            <a href="{{  url_for('post', num=post.id)  }}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on September 24, 2023
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                {% for post in posts %}
                    {% if post.id == 2 %}
                        <div class="post-preview">
                            <a href="{{  url_for('post', num=post.id)  }}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on September 18, 2023
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                {% for post in posts %}
                    {% if post.id == 3 %}
                        <div class="post-preview">
                            <a href="{{  url_for('post', num=post.id)  }}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on September 14, 2023
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
            </div>
        </div>
    </div>
{% endblock %}

    